atari-py==0.2.9
gym==0.17.3
numpy==1.18.5
opencv-python==4.4.0.46
tensorboard==2.4.0
torch==1.7.0
torchvision
tensorboardX==2.1
tensorflow==2.3.1
nltk==3.5
pybullet==3.2.6
ptan==0.7
matplotlib~=3.0.2

pytorch-ignite==0.5.0.dev20240213
pillow==9.5.0
tqdm~=4.66.1
pillow~=9.5.0
zlib~=1.2.13
tqdm~=4.64.1