atari-py==0.2.6
gym==0.17.3
numpy
opencv-python==4.4.0.46
tensorboard==2.4.0
torch==1.13.1
torchvision==0.14.1
pytorch-ignite==0.2.1
tensorboardX==2.1
tensorflow==2.3.1
nltk==3.5
pybullet
ptan
matplotlib
